// Download
[d="M16.293 9.293L17.707 10.707L12 16.414L6.29297 10.707L7.70697 9.293L11 12.586V2H13V12.586L16.293 9.293ZM18 20V18H20V20C20 21.102 19.104 22 18 22H6C4.896 22 4 21.102 4 20V18H6V20H18Z"] {
	d: path(var(--download));
}

// Maximize
[d="M5,14H3v5a2,2,0,0,0,2,2h5V19H5Z"] {
    d: path(var(--maximize));
    transform-origin: center;
    transform: scale(0.95);
}

[d="M19,3H14V5h5v5h2V5A2,2,0,0,0,19,3Z"],
[d="M19,19H14v2h5a2,2,0,0,0,2-2V14H19Z"],
[d="M3,5v5H5V5h5V3H5A2,2,0,0,0,3,5Z"] {
    display: none;
}

// Image Icon
[d="M6 2C3.79086 2 2 3.79086 2 6V18C2 20.2091 3.79086 22 6 22H18C20.2091 22 22 20.2091 22 18V6C22 3.79086 20.2091 2 18 2H6ZM10 8C10 6.8952 9.1032 6 8 6C6.8944 6 6 6.8952 6 8C6 9.1056 6.8944 10 8 10C9.1032 10 10 9.1056 10 8ZM9 14L6 18H18L15 11L11 16L9 14Z"]{
    d: path(var(--image));
}