/* Shield with a star — The icon next to privacy settings*/
[d="M19 6.00001C15.56 6.00001 12.826 2.43501 12.799 2.39801C12.421 1.89801 11.579 1.89801 11.201 2.39801C11.174 2.43501 8.44 6.00001 5 6.00001C4.447 6.00001 4 6.44801 4 7.00001V14C4 17.807 10.764 21.478 11.534 21.884C11.68 21.961 11.84 21.998 12 21.998C12.16 21.998 12.32 21.96 12.466 21.884C13.236 21.478 20 17.807 20 14V7.00001C20 6.44801 19.553 6.00001 19 6.00001ZM15 16L12 14L9 16L10 13L8 11H11L12 8.00001L13 11H16L14 13L15 16Z"] {
	d: path(var(--shield-star));
}

/* Create Event Icon — Part 1 "+" Icon */
[d="M21 4V1H19V4H16V6H19V9H21V6H24V4H21Z"] {
	d: path(var(--event-add));
}

/* Hiding some parts from event add icon */
[d="M8 4H14V9H5V20H19V11H21V20C21 21.1 20.1 22 19 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20L3.01 6C3.01 4.9 3.89 4 5 4H6V2H8V4Z"],
[d="M7 11H12V16H7V11Z"] {
	display: none;
}

/* Create Category Icon */
[d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7ZM16 15H13V18H11V15H8V13H11V10H13V13H16V15Z"] {
	d: path(var(--folder-add));
}

/* Create Channel Icon */
#guild-header-popout-create-channel [d="M12 2.00098C6.486 2.00098 2 6.48698 2 12.001C2 17.515 6.486 22.001 12 22.001C17.514 22.001 22 17.515 22 12.001C22 6.48698 17.514 2.00098 12 2.00098ZM17 13.001H13V17.001H11V13.001H7V11.001H11V7.00098H13V11.001H17V13.001Z"] {
	d: path(var(--plus));
	transform: scale(2) translate(-6px, -6px);
}

/* Server Insights Icon */
[d="M4.5,16.5v-3H3A1.5,1.5,0,0,1,1.5,12V3A1.5,1.5,0,0,1,3,1.5H15A1.5,1.5,0,0,1,16.5,3v9A1.5,1.5,0,0,1,15,13.5H8.5ZM3,3v9H6v1.5L8,12h7V3Z"] {
	d: path(var(--insights));
	transform: scale(0.75);
}

/* Hiding the dots of the default server insights svg */
[d="M6.75,4.5H5.25v6h1.5Z"],
[d="M9.75,7.5H8.25v3h1.5Z"],
[d="M12.75,6h-1.5v4.5h1.5Z"] {
	display: none;
}